.world-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50px, -50px);
}

.weather-wrapper {
    padding: 100px 150px;
    width: 100%;
    box-sizing: border-box;
}

.weather_items-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-header {
    font-size: 18px;
    padding-bottom: 50px;
}

.weather-header b {
    font-size: 32px;
}

.weather-item {
    width: 20%;
}

.weather-img {
    width: 100px;
}

.weather-date {
    color: #05697e;
    font-size: 22px;
    font-weight: 600;
}

.weather-content {
    line-height: 140%;
}

.weather-content p {
    margin-bottom: 10px;
}
